 
html { 
  background: url(../img/pexels-photo-413195.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

  
 	.content{
  background-color: rgba(0,0,0,0.7);
  color:white;
  padding: auto 0 px;
  margin: 0 auto;
}
.osm{
	background-color: rgba(0,0,0,0.7);
  color:white;
  padding: auto 0 px;
  margin: 0 auto;
}

 